@model IEnumerable<SweetShop.Models.Item_Shop_Assignment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shop.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemShopID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemShopID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemShopID })
        </td>
    </tr>
}

</table>
