@model SweetShop.Models.Item

@{
    ViewBag.Title = "OrderConfirmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<hr />

<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Item Image</h3>
                <hr />
                <img src="~/Content/AppData/@Model.Image1" class="img-fluid" alt="user-image">

            </div>


            <div class="col-lg-6">
                <h3>Item Details</h3>
                <hr />
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <td>Item Name</td>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>@Model.Category.Name</td>
                        </tr>
                        <tr>
                            <td>Ready Quantity</td>
                            <td>@Model.Quantity</td>

                        </tr>
                        <tr>
                            <td>Shop</td>
                            <td>@Model.Shop.Name</td>
                        </tr>
                        <tr>
                            <td>EXPDate</td>
                            <td>@Model.EXPDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>MFGDate</td>
                            <td>@Model.MFGDate.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Rate</td>
                            <td>@Model.SalePrice Per KG</td>
                        </tr>

                    </table>
                </div>


                <a href="/Home/Items" class="btn btn-danger">Go to Back</a>
                <a href="/Home/AddToCart/@Model.ItemID" class="btn btn-success">Add to Cart</a>


            </div>
        </div>
    </div>





</section>
